@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,400;1,700;1,900&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *{
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }
}